body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f8ff;
    color: #333;
}

.container {
    max-width: 600px;
    margin: 50px auto;
    padding: 20px;
    background: #ffffff;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

h1 {
    text-align: center;
    font-size: 24px;
    margin: 0;
    color: #333;
}

form {
    display: flex;
    flex-direction: column;
}

label {
    margin: 10px 0 5px;
    font-weight: bold;
}

input,
select,
button {
    padding: 10px;
    font-size: 16px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button {
    background-color: #28a745;
    color: white;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #218838;
}

.table-container {
    overflow-x: auto;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
}

thead {
    background-color: #4CAF50;
}

table th,
table td {
    border: 1px solid #ccc;
    padding: 10px;
    text-align: left;
}

table tr:hover {
    background-color: #f1f1f1;
}

table th {
    background-color: #f8f8f8;
}

table img {
    display: block;
    margin: auto;
}

.add-student-btn {
    background-color: #4CAF50;
    color: white;
    text-decoration: none;
    padding: 10px 15px;
    border-radius: 5px;
}

.add-student-btn:hover {
    background-color: #45a049;
}

.view-btn {
    background-color: #007BFF;
    color: white;
    padding: 5px 10px;
    text-decoration: none;
    border-radius: 5px;
}

.view-btn:hover {
    background-color: #0056b3;
}

/* Responsive Design */
@media (max-width: 480px) {

    table th,
    table td {
        padding: 5px;
    }

    .view-btn {
        padding: 3px 6px;
    }
}

@media (max-width: 768px) {
    .header {
        flex-direction: column;
        align-items: flex-start;
    }

    h1 {
        font-size: 20px;
    }

    table {
        font-size: 14px;
    }

    img {
        width: 40px;
    }

    .add-student-btn {
        margin-top: 10px;
    }
}